
option_settings:
  "aws:elasticbeanstalk:application:environment":
     DJANGO_SETTINGS_MODULE: "fourthproject.settings"
     PYTHONPATH: "/opt/python/current/app/fourproject:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
     WSGIPath: fourthproject/wsgi.py

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_permission:
    command: "chmod a+w db.sqlite3"
    leader_only: true